body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #6ff8fd;
}

h1 {
    font-size: 5rem;
    color: #ff7300;
    font-family: Verdana, sans-serif;
}

p {
    font-size: 2rem;
    color: #fa65ff;
    font-family: 'Times New Roman', serif;
    width: 45%;
}