header{
    width:100%;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1000;

}
body {
	background-color: rgb(57, 62, 70); 
    margin: 0;
    padding: 0;
    font-family: Verdana;
}
footer{
    width: 100%;
    background-color: rgb(34, 40, 49);
    margin: 0;
    padding: 0.3rem;
}
footer p{
    padding:0;
    margin:0;
    font-size: 1rem;
    color: rgb(238, 238, 238);
}
h1{
    font-size: x-large;
    width:100%;
    padding:0;
    margin:0.6rem;
    color: rgb(0, 173, 181);
}
h2{
    font-size: large;
    padding:0;
    margin:0.6rem;
    color: rgb(0, 173, 181);
}
p {
    padding:0;
    margin:1rem;
    font-size: 1rem;
    color: rgb(238, 238, 238);
}
nav{
    margin: 0;
    padding: 0;
    background-color: rgba(34, 40, 49, 0.95);
}
.nav-menu{
    padding:0;
    margin:0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width: 550px) {

    .nav-menu{
        width:550px;
    }
}
.menu-item{
    padding: 0;
    margin: 0.5rem;
}
.menu-link{   
    padding: 0.4rem 0.75rem;
    margin: 0;
    display: block;
    
    text-align: center;
    text-decoration: none;
    
    color: rgb(244, 244, 244);
    background-color: rgb(0, 84, 97);
    border-color: rgb(1, 135, 144);
    
    border-radius: 10px;
    border-width: thin;
    border-style: solid;
    
}
.menu-link:hover{
    box-shadow: rgb(0, 183, 181) 0 0 0.5rem;
}

section{
    width: 90%;
    scroll-margin-top: 60px;
    padding: 0;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width: 900px) {
    section{
        width:810px;
    }
}
.about,.project,.interests,.contact{
    display: block;
    width:95%;
    margin: 0.5rem auto;
    padding: 0;
    background-color: rgb(0, 84, 97);

    border: rgb(1, 135, 144) solid 3px;
    border-radius: 15px;
    box-shadow: rgb(130, 180, 180) 0 0 8px;
    box-sizing: border-box;
}
@media screen and (min-width: 550px) {
    .project{
        width:45%;
    }
}
.about:hover,.project:hover,.interests:hover,.contact:hover{
    box-shadow: rgb(0, 183, 181) 0 0 16px;
}
.hero {
    height: 400px;
    background: linear-gradient(180deg, rgb(0, 84, 97) 0%, rgb(57, 62, 70) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.hero::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    top: -100px;
    right: -100px;
}

.hero::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    top: 100px;
    left: -50px;
}

.hero-content {
    z-index: 2;
    max-width: 800px;
    padding: 2rem;
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-shadow: -2px 1px 0px rgba(28,110,164,0.7);
}

.hero p {
    font-size: 1.5rem;
    opacity: 0.9;
}

