header{
    width:100%;
    position: fixed;
    top: 0;
	background-color: #233142; 
    padding: 10px;

}
body {
	background-color: #455d7a; 
    margin: 0;
    padding: 0;
    font-family: 'Monaco', Verdana;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
	background-color: #233142; 
    padding: 1px;

}

div {
  width: 300px;
  padding: 50px;
  margin: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #cc2323;
    font-family: 'Lucida Console', Verdana;
}

h2 {
    font-size: 2rem;
    opacity: 0.8;
    color: #ff8800;
    font-family: 'Lucida Console', Verdana;
}

h3 {
    font-size: 1.8rem;
    opacity: 0.6;
    color: #ff8800;
    font-family: 'Lucida Console', Verdana;
}

p {
    font-size: 1rem;
    color: #ffe11f;
    margin-left: 20px;
}

ul{
    margin:0;
    padding:10px; 
    list-style-type: none;
    background-color: white;
}
li{
    margin:0px;
    padding:3px; 
    display: inline-block;
    background-color: gray;
    
}
a{
    text-decoration: none;
}
section{
    width: 85%;
    margin: 5%;
    padding: 20px;
    background-color: rgb(0, 0, 0);
}