header{
    width:100%;
    position: fixed;
    top: 0;
	background-color: rgba(34, 40, 49, 0.95); 
    margin: 0;
    padding: 0;

}
body {
	background-color: rgb(57, 62, 70); 
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
	background-color: rgba(34, 40, 49, 0.95); 
    padding: 0;

}

.nav-menu{
    margin:0;
    padding:0;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.menu-item{
    display: flex;
    margin: 10px auto;
    padding: 0;

}
.menu-link{    
    padding: 0.5rem 0.75rem;
    margin: 0;
    display: block;
    
    text-align: center;
    text-decoration: none;
    
    color: rgb(244, 244, 244);
    background-color: rgb(0, 84, 97);
    border-color: rgb(1, 135, 144);
    
    border-radius: 10px;
    border-width: thin;
    border-style: solid;
    
}
.menu-link:hover{
    box-shadow: rgb(0, 183, 181) 0 0 0.5rem;
}

section{
    width: 90%;
    padding: 0.5rem 0.8rem;
    margin: 20px auto;
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    flex-wrap: wrap;
    /* border-bottom: #f1f3f5 thin solid; */
}
section:first-of-type{
    margin-top: 4rem;
}
section:last-of-type{
    margin-bottom: 2rem;
}
.about{
    display: block;
    width:95%;
    margin: 0.5rem auto;
    padding: 0;
}
.project{
    display: block;
    width:40%;
    margin: 0.5rem auto;
    padding: 0.3rem;
    background-color: rgb(0, 0, 0);

    border: #233142 solid 3px;
    border-radius: 15px;
    box-shadow: gray 0 0 8px;
}

@media screen and (max-width: 900px) {
    div{
        width:48%;
    }
}
@media screen and (max-width: 600px) {
    div{
        width:98%;
    }
}

h1{
    font-size: x-large;
    display: block;
    width:100%;
    padding:0;
    margin:0;
    color: rgb(0, 173, 181);
    font-family: 'Lucida Console', Verdana;
}
h2{
    font-size: large;
    display: block;
    width:100%;
    padding:0;
    margin:0;
    color: rgb(0, 173, 181);
    font-family: 'Lucida Console', Verdana;
}
p {
    padding:0;
    margin:0;
    font-size: 1rem;
    color: rgb(238, 238, 238);
}

